:root {
	--font-mono: "Red Hat Text", Arial, Helvetica, sans-serif;
	--rose-background: #f5eeec;
	--rose-50: #fcf8f6;
	--red: #c73b0f;
	--brown: #87635a;
	--black: #260f08;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: var(--rose-background);
	font-family: "Red Hat Display", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 30px;
}

.container {
	display: flex;
}

.dessert-container {
	margin: 40px 0 0 50px;
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
}

.item {
	position: relative;
	margin-bottom: 100px;
	padding-bottom: 30px;
}

.image {
	height: 100%;
	width: auto;
	border-radius: 10px;
}

/*
* Add to cart Button
*/
.addToCart {
	padding: 10px;
	border-radius: 15px;
	background-color: #fff;
	position: absolute;
	left: 40px;
	top: 191px;
	display: flex;
	align-items: center;
	width: 150px;
	justify-content: space-evenly;
}

.addButton {
	padding: 5px;
	border-radius: 40%;
	margin: 0 5px;
}

.addButton .show {
	background-color: var(--brown);
	width: 30px;
}

.addToCart .icon {
	background: url("/images/icon-add-to-cart.svg") no-repeat center;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
}

.add {
	background-color: #fff;
	color: var(--black);
	font-size: 13px;
	font-weight: 650;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.hide {
	display: none;
}

.visible {
	display: flex;
}

.hidden {
	display: none;
}

.addToCart {
	display: flex;
	justify-content: center;
}

.multi-btns {
	display: flex;
	background-color: var(--red);
}

.hideBtns {
	background-color: var(--red);
}

.innerContainer {
	margin-top: 50px;
}

.addButton {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: var(--red);
	border-color: white;
}

.icon-btn {
	background: none;
	color: white;
	height: 10px;
	width: 10px;
}

.counterBtns,
.cart-item {
	color: #fff;
}

.selectedImg {
	border: 2px solid #c73b0f;
}

.category {
	color: var(--brown);
	font-size: 16px;
	font-weight: 500;
}

.name {
	color: #260f08;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
}

.price {
	color: var(--red);
	line-height: 120%;
	letter-spacing: 0px;
}

/**
  * Cart Container
*/

.cart-container {
	display: flex;
	background-color: #fff;
	height: 300px;
	width: 400px;
	flex-direction: column-reverse;
	justify-content: flex-end;
	border-radius: 10px;
	padding: 15px;
}

.empty-cart {
	background-color: #fff;
	padding: 20px;
}

.cart-item {
	display: flex;
	flex-direction: column;
}

.cart-item-element {
	padding-bottom: 20px;
	background-color: #fff;
}

.empty-cart-el {
	background-color: #fff;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: var(--brown);
}

p.empty-cart-el {
	padding-top: 10px;
}

.cart-heading {
	color: var(--red);
	background-color: #fff;
}

.item-details,
.item-details-name {
	background-color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: #260f08;
}

.item-details {
	display: flex;
	align-items: center;
}

.item-quantity {
	color: var(--red);
	background-color: #fff;
	font-weight: 600;
	margin-right: 20px;
}

.item-price {
	background-color: #fff;
	color: var(--brown);
	margin-right: 30px;
	font-size: 14px;
	font-family: "Red Hat Display", Text Regular;
	font-weight: 100;
}

.total-quantity {
	background-color: #fff;
	margin-right: 20px;
	color: var(--brown);
	font-weight: 500;
}

.remove-from-cart {
	background-color: #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 1px solid #87635a;
}

.cart-total,
.total-container {
	background-color: #fff;
}

.order-price p {
	background-color: #fff;
	font-size: 14px;
	font-family: "Red Hat Display", Text Regular;
	font-weight: 400;
	color: #260f08;
}

.order-price h3 {
	background-color: #fff;
	color: black;
}

.order-price {
	display: flex;
	color: var(--brown);
	background-color: #fff;
	justify-content: space-between;
	padding: 20px;
}

.confirm-btn {
	background-color: var(--red);
	color: #fff;
	border: 20px;
	width: 330px;
	border-radius: 30px;
	align-items: center;
	height: 40px;
	width: 330px;
	margin-left: 20px;
	margin-top: 20px;
}

.eco-container {
	display: flex;
	justify-content: center;
	background-color: var(--rose-background);
	border-radius: 8px;
	color: #260f08;
	align-items: center;
	height: 40px;
	width: 330px;
	margin-left: 20px;
}

.eco-container p {
	padding-left: 10px;
}

/* Mobile */
/* @media (max-width: 700px) {
	.main {
		padding: 4rem;
	}
}

@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@media (min-height: 2500px) and (max-height: 1200px) {
	.main {
		top: -600px;
	}
}

@media (min-height: 900px) and (max-height: 1000px) {
	.main {
		top: -900px;
	}
}

@media (min-height: 300px) and (max-height: 900px) {
	.main {
		top: -700px;
	}
} */
